.coursework {
    width: 300px;
    display: inline-block;
}

.education-item {
    display: block;
}

.logo {
    height: 64px;
}

/*.item-heading {

}*/

.item-img {
    padding: 5px;
    height: 74px;
    float: left;
    margin-right: 10px;
}

.item-desc {
    display: inline-block;
}